<@- include(
  'include/_cli_header.ejs',
  {
    data: {
      title: "<%= title %>",
      css: [
        <%_ for (var i = 0; i < dependenciesCss.length; i++) { _%>
        "<%= dependenciesCss[i] %>",
        <%_ } _%>
      ]
    }
  }
); @>
<body >
    <div id="app" class="<%= fileName %>" v-cloak>
      <!-- to do -->
    </div>
</body>
<@- include('include/_footer.ejs',{data:{main:"<%= js %>"}}); @>