<@- include(
  'include/_css_header.ejs',
  {
    data: {
      title: "<%= title %>"",
      css: [
        <% for (var i = 0; i < css.length; i++) { %>
          <% console.log(i) %>
          "<%= css[i] %>"
        <% } %>
      ]
    }
  }
); @>
<body >
    <div id="app" class="<%= fileName %>" v-cloak>
      <!-- to do -->
    </div>
</body>
<@- include('include/_footer.ejs',{data:{main:"<%= js %>"}}); @>