<@- include('include/_css_header.ejs',{data:{title: <%= title %>, css:"<%= name %>.css"}}); @>
<body >
    <div id="app" class="<%= name %>" v-cloak>
      <!-- to do -->
    </div>
</body>
<@- include('include/_footer.ejs',{data:{main:"js/activities-component/<% = name %>.js"}}); @>