<@- include('include/_css_header.ejs',{data:{title: <%= title %>, css:"<%= fileName %>.css"}}); @>
<body >
    <div id="app" class="<%= fileName %>" v-cloak>
      <!-- to do -->
    </div>
</body>
<@- include('include/_footer.ejs',{data:{main:"js/activities-component/<% = fileName %>.js"}}); @>